:root {
    --clr-white: #ffffff;
    --clr-bg: hsl(323 21% 16%);
}

body {
   background-color: black;
}

.header {
    color: white;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.btn {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5rem;
    color: var(--clr-white);
    text-decoration: none;
    border: currentColor 4px solid;
    padding: 0.25em 1.25em;
    border-radius: 0.5em;
    text-shadow: 0 0 1em currentColor;
    box-shadow: 0 0 1em 0 currentColor;
}

.container { 
    height: 200px;
    position: relative;
}
.centre {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.ver {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}